/* ---=== welcome ===--- */
/* *** start besmillah *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.workPage {
    background-color: rgb(14, 16, 34);
    padding: 0% 10%;

}

/* ! this is the header */
.header {
    /* background-color: rgb(74, 76, 105); */
    padding: 20px;
    background-color: #222330;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

}

.headerTitle {
    font-size: 20PX;
    font-weight: bold;
    margin-top: 6px;
}

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home {
    color: aquamarine;
    text-decoration: none;
}

.div-button {
    display: flex;
    border-radius: 20vh;
    color: white;
    background-color: rgb(110, 156, 7);
    /* width:120px ;
    height: 30px; */
    padding: 6px 20px;
    border: 0px;

}

.headerIcon1 {
    color: green;
}

.headerLinks {
    text-decoration: none;

}

/* ! this is the mani */
.firstSection {
    display: flex;
    gap: 7%;
    margin-top: 10%;
    border-bottom: solid 1px grey;
    padding-bottom: 5rem;
}

.firstSectionDigital {
    color: gray;
}

.firstSectionElevate {
    font-size: 60px;
    font-weight: bolder;
    padding: 2.5% 0%;
}

.firstSectionCurabitur {
    font-size: 18px;
    color: gray;
    padding: 7% 0%;
}

.HeroSectionBTNS {
    display: flex;
    gap: 3%;
}

.HeroSectionBTN {
    background-color: rgb(139, 185, 35);
    font-weight: bolder;
    padding: 3%;
    border-radius: 30px;
    cursor: pointer;
    border-style: hidden;
}

.HeroSectionLINK {
    text-decoration: none;
    padding: 3%;
}

.HeroSectionLINK1 {
    text-decoration: none;
}

.HeroSectionBTN:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.firstSectionNumbers {
    display: flex;
    padding-top: 3rem;
    gap: 18rem;

}

.firstSectionNumberOneSpan {
    color: rgb(123, 177, 0);
    font-size: 4rem;
    font-weight: 700;

}

.firstSectionPlus {
    color: rgb(123, 177, 0);
    font-size: 1.7rem;
    font-weight: bolder;
}

/* todo about section */
.div-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-section2 {
    display: flex;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 250px;

}
/* todo hero section finished  */
/* todo portfolio section */
.portfolioSection {
    margin-top: 6rem;
}

.portfolioTitle {
    text-align: center;
}

.titlePortfolio {
    border-bottom: 1px gray solid;
    padding-bottom: 2%;
}

.portfolioTitleGreenLine {
    border-bottom: 3px rgb(139, 185, 35) solid;
    padding-bottom: 1.9%;

}

.portfolioTitleDiv1 {
    /* margin-bottom: 2%; */
    font-size: 30px;
}

.portfolioTitleNecessitatibus {
    margin-top: 6%;
}

.portfolioTitleDivButtons {
    display: flex;
    gap: 17rem;
    margin-top: 5%;

}

.portfolioTitleBTNS {
    background-color: rgb(14, 16, 34);
    border-color: white;
    /* padding: 2% 10%; */
    width: 7rem;
    height: 2.5rem;
    margin: 1%;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
}

.portfolioTitleBTNSAll {
    background-color: rgb(14, 16, 34);
    padding: 1% 3%;
    border-radius: 25px;
    margin: 1%;
    border-color: white;
    font-weight: bold;
}

.portfolioTitleBTNSAll:hover {
    background-color: rgb(139, 185, 35);
}

.portfolioTitleBTNS:hover {
    background-color: rgb(139, 185, 35);

}

.portfolioTitleBTN {
    display: flex;
}

/* ? cards div 1 */
.portfolioCards {
    display: flex;
    width: 48%;
    gap: 4%;
    margin-top: 4rem;
}

.portfolioCardsDIVONE {
    border-bottom: 1px grey solid;
    padding-bottom: 7%;
}

.PraesentSapien {
    width: 37rem;
    padding: 1.5% 0%;
}

.portfolioTitleFirstDivCards {
    width: 100%;
    border-radius: 0.5rem;
}

.WebDesign {
    padding: 2% 0%;
}

.DigitalInnovationPlatform {
    font-size: 2rem;
}

.portfolioCardsReact {
    border: 1px rgb(71, 71, 71) solid;
    width: 4.7 rem;
    text-align: center;
    border-radius: 25px;
    padding: 1% 3%;
    background-color: rgb(24, 27, 44);
}

.portfolioCardsReact:hover {
    color: rgb(139, 185, 35);
}

.portfolioCardsReactAWS {
    display: flex;
    gap: 0.5rem;
    padding: 2.5% 0%;
}

.portfolioCardsLink {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.portfolioCardsLink:hover {
    color: rgb(139, 185, 35);
}

.portfolioLastBTN {
    display: flex;
    border-top: 1PX grey solid;
    margin-top: 5rem;
    padding-top: 3rem;
    justify-content: space-between;
}

.portfolioLastBTNBegin {
    display: flex;
    gap: 1rem;
}

.portfolioLastButton {
    font-weight: bold;
    background-color: rgb(139, 185, 35);
    border-radius: 25px;
    width: 12rem;
    height: 3rem;
    border-style: hidden;
    cursor: pointer;
}

.portfolioLastLink {
    text-decoration: none;
}

.portfolioLastLinks {
    padding-top: 0.9rem;
}

.portfolioLastBTNproject {
    padding-bottom: 1rem;
}
/* todo portfolio section finished */
/* todo team section */
.teamSectionMindsP {
    font-size: 3rem;
    padding: 1.5% 0%;
}

.teamSectionFirstPerson {
    width: 100%;
    margin-top: 8%;
}

.teamSectionFirstPersonPIC {
    width: 100%;
}

.teamSectionFirstPersonOliviaPark {
    font-weight: bold;
    font-size: 1rem;
    padding: 1% 0%;
}

.teamSectionMembers {
    display: flex;
    width: 48%;
    gap: 2%;
}

.teamSectionSecondFotherDiv {
    display: flex;
    gap: 4%;
    margin-top: 5rem;
    border-bottom: 1px solid grey;
    padding-bottom: 8%;
}

.teamSectionFirstShildDiv {
    width: 48%;
}

.teamSectionNemo {
    font-size: 1.3rem;
    color: rgb(107, 107, 107);
}

.teamSectionNumbers {
    display: flex;
    border-top: 1px gray solid;
    margin-top: 7%;
    padding-top: 5%;
}

.teamSectionNumberONE {
    color: rgb(139, 185, 35);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2%;
}

.teamSectionNumberTwo {
    color: rgb(139, 185, 35);
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2%;

}

.teamSectionNumberTwoDIV {
    border-left: 1px solid gray;
    padding-left: 4%;
    margin: 0% 15%;

}

.teamSectionLeadership {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.teamSectionLeadershipMembers {
    display: flex;
    gap: 1%;
    margin-top: 1rem;
}

.teamSectionLeadershipFirstMember {
    width: 33%;
    border: 1px solid grey;
}

.teamSectionLeadershipFirstMemberPIC {
    width: 100%;
}

.teamSectionOperations {
    color: green;
    font-weight: bold;
    padding: 2% 0%;
}

.teamSectionRachelNguyen {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 2% 0%;
}

.RachelIcons {
    border: 1px solid grey;
    padding: 2% 7% 2% 3%;
    margin-top: 1rem;
}

.teamSectionRachelNguyenInformation {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.ScrolingBar {
    background-color: grey;
    padding: 4px 7px;
    margin: 5px;
    border-radius: 5px;
}

.ScrolingBars {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.ScrolingBarUnique {
    background-color: rgb(43, 242, 16);
    padding: 0px 15px;
    border-radius: 7px;
    margin: 0.1px;
}

.incresflesh {
    border: 1px grey solid;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamSectionLastDiv {
    display: flex;
    width: 50%;
    gap: 20px;
}

.teamSectionLastDivFother {
    display: flex;
    padding: 2rem;
    border: 1px solid grey;
}

.teamLastBTNBegin {
    display: flex;
    gap: 1rem;
    /* width: 50%; */
    padding-left: 10rem;
}

.teamLastButton {
    font-weight: bold;
    background-color: rgb(139, 185, 35);
    border-radius: 25px;
    width: 12rem;
    height: 3rem;
    border-style: hidden;
    cursor: pointer;
}
.teamSectionGuidingOurVision{
    font-size:30px ;
    font-weight: bolder;
    padding: 1rem 0rem;
}
/* todo team section finished */
/* todo contact section */
/* ! trying */
.ContactTryingFotherDiv{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.trying{
width: 50%;
height: 4px;
background-color: #a3e635;
     
}
.ContactTrying{
    display: flex;
   justify-content: center;
    align-items: center; 
width: 10%;
height: 2px;
background-color: #444;
 margin:1rem 0rem 2rem 0rem;
}
/* ! trying */
.CONTACT-SECTION {
    margin-top: 8rem;
}

/* .sectionContactSPAN1 {
    border-bottom: 1px solid grey;
    padding-bottom: 1%;

}

.sectionContactSPAN2 {
    border-bottom: 3px green solid;
    padding-bottom: 0.95%;

} */

.contactSection {
    text-align: center;
}

.contactSectionTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.ContactSectionEnvolope {
    display: flex;
    justify-content: space-between;
    border-top: 1px gray solid;
    /* border-bottom: 1px gray solid; */
    margin: 20px 0px;
    padding: 20px 0px;
}

.ContactSectionEnvolope1 {
    display: flex;
    justify-content: space-between;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    margin: 20px 0px;
    padding: 35px 0px;
}

.ContactSectionDrop {
    display: flex;
}

.contactSectionGetintouch {
    display: flex;
    gap: 6%;
    margin-top: 5rem;
}

.contactSectionleftBox {
    width: 47%;
}

.contactSectionPara {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 2% 0%;
}

.contactIcons {
    margin: 10px 15px 0px 0px;
}

.contactIconArrow {
    margin: 15px 0px 0px 0px;
}

.contactnumbers {
    display: flex;
}

.contactReply {
    color: rgb(139, 185, 35);
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

.contactPorsontage {
    margin-right: 4rem;

}

/* ? form */
.contactSectionForm {
    width: 47%;
    /* height: 36rem; */
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 27, 40);
    border-radius: 5px;
    padding: 2%;
}

.contactYourName {
    display: flex;
    justify-content: space-between;
}

.conversation {
    padding: 15px 0px;
    color: grey;
}

.contactYourNameInput {
    padding: 1rem 3rem 1rem 0.9rem;
    background-color: rgb(14, 16, 34);
    border-radius: 6px;
    border-color: rgb(249, 245, 245);
    margin: 1rem 0rem;
    font-size: 0.9rem;
    font-weight: bolder;
}

.ContactSubjectInput {
    padding: 1rem 19.5rem 1rem 0.9rem;
    background-color: rgb(14, 16, 34);
    border-radius: 6px;
    margin: 1rem 0rem;
    font-size: 0.9rem;
    font-weight: bolder;
    border-color: white;
}

.ContactMessageInput {
    padding: 1rem 0rem 1rem 0.9rem;
    background-color: rgb(14, 16, 34);
    font-size: 0.9rem;
    font-weight: bolder;
     border-radius: 6px;
     border-color: white;
     margin: 1rem 0rem;
}
.contacSectionBTN{
    background-color: rgb(139, 185, 35);
    padding: 3% 4%;
    border-radius: 25px;
    border-style: hidden;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;

}
/* todo contact section finished */